#title {
    margin-left: 20px;
    border-bottom: 1px solid gray;
}

.title--link {
    text-decoration: none;
    color: black;
}

.main {
    margin-left: 20px;
    width: 50vw;
}

.header {
    font-size: 120%;
}

.article {
    padding-top: 1em;
}

.article + .article {
    border-top: 1px solid lightgray;
    margin-top: 1em;
}

.body {
    margin: 5px 0;
}

.posted-at, .updated-at {
    color: gray;
    font-size: 80%;
}

.nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid lightgray;
}